@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
    max-width: 1024px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

header {
    font-family: 'Nanum Myeongjo', serif;
}

header .top {
    background-image: url('./header.png');
    background-size: 1024px;
    height: 400px;
    background-repeat: no-repeat;
}

header .num {
    padding-top: 120px;
    padding-left: 86px;
}

header .lang_button {
    margin-top: 20px;
    margin-left: 86px;
}

    header .name {
    padding-top: 80px;
    padding-bottom: 70px;
    margin-left: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 30px;

    }

    header .name-eng {
    padding-top: 80px;
    padding-bottom: 70px;
    margin-left: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 15px;

    }


    header .report_title {
        margin-top: -140px;
        margin-left: 100px;
        margin-bottom: 50px;
    }

    header .report_title p {
        color: #5D5F63;
        font-weight: bold;
        font-size: 40px;
        margin : 0px;
        padding: 5px;
    }

    header .title_korean {
        letter-spacing: 14px;
    }

    header .title_eng {
        margin-bottom: 120px;
    }

    header .description {
        margin-bottom: 50px;
    }

    header .description p {
        color: #5D5F63;
        text-align: center;
        font-weight: normal;
        font-size: 40px;
        margin : 0px;
        padding: 5px;
    }

    header .course {
        margin-left: 50px;
        font-size: 20px;
        letter-spacing: 5px;
        line-height: 200%;
    }


    .report-detail {
        text-align: center;
        font-size: 40px;
        font-family: 'Noto Sans KR', sans-serif;
        margin-bottom: 50px;
    }


/*
    .word-spacing {
        margin-left: 56px;
    } */
    header .word-spacing {
        margin-left: 48px;
    }

    footer .word-spacing {
        margin-left: 36px;

    }

    header .word-spacing-eng {
        margin-left: 48px;
    }

    footer .word-spacing-footer {
        margin-left: 36px;
    }

@media (max-width: 720px) {
    header .course {
        margin-left: 50px;
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 200%;
    }

    header .word-spacing {
        margin-left: 60px;
    }

    header .word-spacing-eng {
        margin-left: 54px;
    }

    header .container {
    }
}


header .course-spacing {
    margin-left: 44px;
}

header .period-spacing {
    margin-left: 50px;
}

header .width-40 {
    width: 40%;
    display: inline-block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 100px;
    float: left;
    max-width: 380px;
    height: auto;
}

header .width-60 {
    width: 60%;
    display: inline-block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 40px;
    float: left;
    size:20%;

}

.appImage {

}

.report-detail {
    text-align: center;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 50px;
}

.detail-content {
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 150px;
}


article {
    font-family: 'Noto Sans KR', sans-serif;
}


footer {
    font-family: 'Nanum Myeongjo', serif;
}

footer .bottom {
    background-image: url('./footer.png');
    background-size: 1024px;
    height: 200px;
    background-repeat: no-repeat;
    margin-left: 0px;
}

footer .word-spacing-m {
    margin-left: 76px;
}

footer .footer-spacing {
    margin-left: 700px;
    margin-top: 10px;
}

footer .top-spacing {
    padding-top: 100px;
}

footer .edulogo {
    width: 15%;
    margin-left: 776px;
    margin-top: 5px;

}

.spacing{
    margin-top: 200px;
}



.row {
  margin-right: -15px;
  margin-left: -15px;
}

.title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.subtitle {
    font-size: 24px;
    margin-left: 40px;
    margin-bottom: 30px;

}

.gotoapp {

    height: 50px;
    display: inline-block;
    border-radius: 6px;
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 38px;
    line-height: 38px;
}

.test {
    margin-left: 100px;
    margin-top: 0px;
}

.spacing-xs {
    margin-bottom: 40px;
}

.spacing-sm {
    margin-bottom: 80px;
}

.spacing-md {
    margin-bottom: 160px;
}

.centered {
    text-align: center;
}

.lefted {
    margin-left: -100px;
}

.noteworthy-commit {
    margin-left: 100px;
}

.content {
    margin-left: 86px;
}
