@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
    max-width: 1024px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

header {
    font-family: 'Nanum Myeongjo', serif;
}

header .top {
    background-image: url('./header.png');
    background-size: 1024px;
    height: 400px;
    background-repeat: no-repeat;


}


header .name {
    padding-top: 80px;
    padding-bottom: 70px;
    margin-left: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 30px;

}

header .num {
    padding-top: 120px;
    padding-left: 50px;
}

header .report_title {
    margin-top: -140px;
    margin-left: 100px;
    margin-bottom: 50px;
}

header .report_title p {
    color: #5D5F63;
    font-weight: bold;
    font-size: 40px;
    margin : 0px;
    padding: 5px;
}

header .title_korean {
    letter-spacing: 14px;
}

header .description {
    margin-bottom: 50px;
}

header .description p {
    color: #5D5F63;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    margin : 0px;
    padding: 5px;
}

header .course {
    margin-left: 50px;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 200%;
}

header .report-detail {
    text-align: center;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 50px;
}

header .detail-content {
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 150px;
}

header .word-spacing {
    margin-left: 48px;
}

article {
    font-family: 'Noto Sans KR', sans-serif;
}


footer {
    font-family: 'Nanum Myeongjo', serif;
}

footer .bottom {
    background-image: url('./footer.png');
    background-size: 1024px;
    height: 200px;
    background-repeat: no-repeat;
    margin-left: 0px;
}

footer .word-spacing {
    margin-left: 36px;
}

footer .word-spacing-m {
    margin-left: 76px;
}

footer .footer-spacing {
    margin-left: 700px;
    margin-top: 10px;
}

footer .top-spacing {
    padding-top: 100px;
}

footer .edulogo {
    width: 15%;
    margin-left: 776px;
    margin-top: 5px;

}

.spacing{
    margin-top: 200px;
}



header .row {
  margin-right: -15px;
  margin-left: -15px;
}

header .title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 50px;
}

header .subtitle {
    font-size: 24px;
    margin-left: 40px;
    margin-bottom: 30px;

}

header .gotoapp {

    height: 50px;
    display: inline-block;
    border-radius: 6px;
    padding: 0 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 38px;
    line-height: 38px;
}

header .test {
    margin-left: 100px;
    margin-top: 0px;
}

.spacing-xs {
    margin-bottom: 40px;
}

.spacing-sm {
    margin-bottom: 80px;
}

.spacing-md {
    margin-bottom: 160px;
}

.centered {
    text-align: center;
}

.lefted {
    margin-left: -100px;
}

.noteworthy-commit {
    margin-left: 100px;
}
